@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
html.light {
  --bg-color: #faf9fb;
  --text-color: #37373e;
  --header-bg: rgba(255, 255, 255, 0.9);
  --header-border: rgba(255, 255, 255, 0.9);
  --skills-bg:rgb(255, 255, 255)
}

html.dark {
  --bg-color: black;
  --text-color: #ffffff;
  --header-bg: rgba(15, 23, 42, 0.9);
  --header-border: rgba(46, 196, 182, 0.3);
  --skills-bg: #0f172a;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}
